body {
    background-color: #3e4451;
    color: #ffffff
}

.content {
    padding: 1rem;
}

input.form-control {
    margin: 3px
}

.incorrect-answer {
    border: 1px solid red
}

input.form-control {
    margin: 0px
}

h1.text-center {
    margin-bottom: 1em;
}